@model TacoCatMVC.Models.Palindrome

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-lg-2">
        @*<a href="C:\Users\Quang\Documents\code\TacoCatMVC\TacoCatMVC\Views\Home\Reverse.cshtml">C:\Users\Quang\Documents\code\TacoCatMVC\TacoCatMVC\Views\Home\Reverse.cshtml</a>*@
        <div class="col">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                FLIPPED: A Coding Project
            </h1>
            <h4 class="lead">Take it and flip it! A program that take a string input and reverses it</h4>
        </div>
        <div class="col">
            <h5 class="border-1 border-bottom border-danger">Enter a string</h5>
            @* Form goes here *@
            <form class="row gx-3 gy-2" asp-action="Reverse" asp-controller="Home" method="post">
                <div class="col">
                    <input asp-for="InputWord" class="form-control" value="@Model.InputWord" placeholder="Enter a String"
                           aria-label="Enter a string">
                </div>
                <div class="col-12">
                    <button type="submit" id="btnSubmit" class="btn btn-danger">Palindrome Test</button>
                </div>
            </form>


            <h5 class="mt-5 border-bottom borer-2">Reversed Result</h5>
            <div class="col">
                <p class="form-control">@Model.RevWord</p>
            </div>

            <h5 class="mt-5 border-bottom borer-2">Palindrome Result</h5>
            <div class="col">
                <p id="result">
                    @Model.RevWord
                </p>
            </div>
        </div>
    </div>
</div>